html {
    background: #c0ffc2;
    font-family: -apple-system, BlinkMacSystemFont, "RobotoDraft", "Roboto", "Helvetica", "PingFang SC", sans-serif;
}
  
body {
    background: transparent;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #f69d9d;
    font-size: 4em;
    margin: .5em;
}

.title>span {
    font-size: 60%;
    opacity: 0.6;
}

.link-blog a {
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #f69d9d;
    color: #f69d9d;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
}

footer a {
    padding: 0 0.5rem;
    cursor: pointer;
}